.vs/slnx.sqlite
.vs/MiniJameGamGame/v17/.wsuo
.vs/MiniJameGamGame/FileContentIndex/576d90ef-75ab-44cf-b6fe-4aac6681a0c8.vsidx
.vs/MiniJameGamGame/FileContentIndex/464df70f-af88-4549-9d08-2ec30cae46b3.vsidx
.vs/MiniJameGamGame/FileContentIndex/2f425d55-f42a-41d4-95c1-83a1545855ef.vsidx
.vs/MiniJameGamGame/FileContentIndex/0e9df142-58cf-40e5-82d8-add7853c2597.vsidx
.vs/MiniJameGamGame/FileContentIndex/0a73f2c2-f3e4-4b5e-8926-ddcf15995809.vsidx
*.vsidx
.vs/MiniJameGamGame/v17/DocumentLayout.json
.vs/VSWorkspaceState.json
